<app-header [pageTitle]="pageTitle"></app-header>
<span> | </span>
<input [(ngModel)]="searchCriteria" class="search-criteria" placeholder="Search">
<main>
    <div>
        <a routerLink="/req/add">Create New</a>
    </div>
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <td><button (click)="sortFn('id')" class="btn btn-link sort-column">Id</button></td>
                <td><button (click)="sortFn('description')" class="btn btn-link sort-column">Description</button></td>
                <td><button (click)="sortFn('justification')" class="btn btn-link sort-column">Justification</button></td>
                <td><button (click)="sortFn('status')" class="btn btn-link sort-column">Status</button></td>
                <td><button (click)="sortFn('total')" class="btn btn-link sort-column">Total</button></td>
                <td>User</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of reqs | requestSearch:searchCriteria | sort:sortColumn:sortAsc">
                <td>{{ x.id }}</td>
                <td>{{ x.description }}</td>
                <td>{{ x.justification }}</td>
                <td>{{ x.status }}</td>
                <td>{{ x.total | currency }}</td>
                <td>{{ x.user?.username }}</td>
                <td>
                    <a routerLink="/req/det/{{ x.id }}">Det</a>
                    | 
                    <a routerLink="/req/chg/{{ x.id }}">Chg</a>
                    | 
                    <a routerLink="/req/lns/{{ x.id }}">Lns</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>
<app-footer></app-footer>