<app-header [pageTitle]="pageTitle"></app-header>
<main>
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <td><button class="btn btn-link sort-column">Id</button></td>
                <td><button class="btn btn-link sort-column">Description</button></td>
                <td><button class="btn btn-link sort-column">RejectionReason</button></td>
                <td><button class="btn btn-link sort-column">Status</button></td>
                <td><button class="btn btn-link sort-column">Total</button></td>
                <td>User</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ req.id }}</td>
                <td>{{ req.description }}</td>
                <td class="text-danger fw-bold">{{ req.rejectionReason }}</td>
                <td>{{ req.status }}</td>
                <td>{{ req.total | currency }}</td>
                <td>{{ req.user?.username }}</td>
                <td>
                    <a routerLink="/req/rev" class="btn btn-link sort-column">Review</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a routerLink="/reql/add/(req.id)" class="btn btn-link sort-column">Add</a>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of req.requestlines">
                <td>{{ x.product!.name }}</td>
                <td>{{ x.quantity }}</td>
                <td>{{ x.product!.price | currency }}</td>
                <td>{{ x.product!.price * x.quantity| currency }}</td>
                <td>
                    <button (click)="change(x.id)" class="btn btn-link btn-primary sort-column">Chg</button>
                    <button (click)="remove(x)" class="btn btn-link btn-danger sort-column">Rem</button>
                    <span *ngIf="showVerifyDelete">
                        |
                        <button (click)="verifyRemove(x)" class="btn btn-link btn-danger sort-column">Rem</button>                        
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</main>
<app-footer></app-footer>